@media (max-width: 767px) {
        /* Estilos para telas menores */
}

@media (min-width: 768px) and (max-width: 1023px) {
        /* Estilos para telas médias */
}

@media (min-width: 1024px) {
    /* Estilos para telas maiores */
    #boxLaboratories {
        margin: auto;
        width: 879px;
        height: 670px;
        flex-shrink: 0;
        border-radius: 50px;
        background: #fff;
        box-shadow: 0px 4px 4px 0px #00000040;
    }

    #header-box {
        width: 879px;
        height: 92px;
        border-radius: 49px 49px 0px 0px;
        background: #198de1fa;
    }

    #menu-img {
        position: absolute;
        width: 63px;
        height: 65px;
        background-color: transparent;
        margin-top: 15px;
        margin-left: 800px;
    }

    #title-box {
        position: absolute;
        width: 379px;
        height: 93px;
        color: #FFF;
        font-family: Inter;
        font-size: 55px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        background-color: transparent;
        margin-left: 313px;
        margin-top: 10px;
    }

    #pesquisar {
        width: 465px;
        height: 50px;
        fill: #FFF;
        stroke-width: 2px;
        stroke: #716A6A;
        margin-top: 27px;
        margin-left: 200px;
        border-radius: 50px;
        z-index: 2;
    }

    #search-img {
        position: absolute;
        width: 35px;
        height: 35px;
        margin-top: 34px;
        margin-left: -442px;
        z-index: 2;
    }

    #informatica1 {
        position:absolute;
        width: 170px;
        height: 200px;
        border-radius: 15px;
        background: #FFF;
        box-shadow: 11px 11px 8px 3px rgba(0, 0, 0, 0.25);
        margin-top: 20px;
        margin-left: 66px;
    }

    #info1-img{
        width: 115px;
        height: 100px;
        margin-top: 12px;
        margin-left: 22px;
    }

    #informatica2 {
        position: absolute;
        width: 170px;
        height: 200px;
        border-radius: 15px;
        background: #FFF;
        box-shadow: 11px 11px 8px 3px rgba(0, 0, 0, 0.25);
        margin-top: 20px;
        margin-left: 332px;
    }

    #info2-img{
        width: 115px;
        height: 100px;
        margin-top: 12px;
        margin-left: 22px;
    }

    #informatica3 {
        position: absolute;
        width: 170px;
        height: 200px;
        border-radius: 15px;
        background: #FFF;
        box-shadow: 11px 11px 8px 3px rgba(0, 0, 0, 0.25);
        margin-top: 20px;
        margin-left: 610px;
    }

    #info3-img{
        width: 115px;
        height: 100px;
        margin-top: 12px;
        margin-left: 22px;
    }

    #usinagem {
        position: absolute;
        width: 170px;
        height: 200px;
        border-radius: 15px;
        background: #FFF;
        box-shadow: 11px 11px 8px 3px rgba(0, 0, 0, 0.25);
        margin-top: 250px;
        margin-left: 66px;
    }

    #usin-img{
        width: 115px;
        height: 100px;
        margin-top: 12px;
        margin-left: 22px;
    }

    #mecanica {
        position: absolute;
        width: 170px;
        height: 200px;
        border-radius: 15px;
        background: #FFF;
        box-shadow: 11px 11px 8px 3px rgba(0, 0, 0, 0.25);
        margin-top: 250px;
        margin-left: 332px;
    }

    #mecan-img{
        width: 115px;
        height: 100px;
        margin-top: 12px;
        margin-left: 22px;
    }

    #eletrica {
        position: absolute;
        width: 170px;
        height: 200px;
        border-radius: 15px;
        background: #FFF;
        box-shadow: 11px 11px 8px 3px rgba(0, 0, 0, 0.25);
        margin-top: 250px;
        margin-left: 610px;
    }
    
    #eletr-img{
        width: 115px;
        height: 100px;
        margin-top: 12px;
        margin-left: 22px;
    }

    .title-lab {
        color: rgba(0, 0, 0, 0.80);
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    #maior-icon{
        position: absolute;
        height: 22px;
        width: 22px;
        margin-top: 467px;
        margin-left: 470px;
        
    }

    #menor-icon{
        position: absolute;
        height: 22px;
        width: 20px;
        margin-top: 467px;
        margin-left: 355px;
    }

    #black-circle {
        margin-top: 470px;
        margin-left: 378px;
    }

    #white-circle1 {
        margin-top: 10px;
        margin-left: 10px;
    }

    #white-circle2{

        margin-top: 10px;
        margin-left: 10px;
    }

    #white-circle3{
        margin-top: 10px;
        margin-left: 10px;
    }
}